@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body, html {
    height: 100%;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
}
h1 {
    font-weight: 700;
}
.qr_card {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.qr_code {
    max-width: 100%;
    border-radius: 15px;
}

p {
    color: hsl(220,9.43%,68.82%);
    font-size: 15px;
}